* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    perspective: 1300px;
}

#videofilm {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
}

h1 {
    font-size: 36px;
    color: #B1BCE6;
    font-family: '楷体';
}

.texttwo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.textone {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

.textthree {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}

:root {
    --margin-top: 0;
    --margin-left: 0;
    --animation-duration: 0s;
    --animation-delay: 0s;
}

div {
    transform-style: preserve-3d;
}

.word-box,
.word-box .word {
    position: absolute;
    animation: rotY 0s linear infinite;
    animation-duration: var(--animation-duration);
    animation-delay: var(--animation-delay);
}

.word-box {
    margin-top: var(--margin-top);
}

.word-box .word {
    margin-left: var(--margin-left);
}

.word-box .word {
    animation-duration: reverse;
}

@keyframes rotY {
    to {
        transform: rotateY(360deg);
    }

}

/* 播放/暂停按钮样式 */
#toggle-play-btn {
    font-size: 24px; /* 按钮字体大小 */
    background-color: transparent; /* 按钮背景透明 */
    border: none; /* 去除按钮边框 */
    cursor: pointer; /* 鼠标悬停时显示为指针 */
    outline: none; /* 去除焦点边框 */
    position: fixed; /* 固定在某个位置 */
    bottom: 20px; /* 距离底部的距离 */
    right: 20px; /* 距离右边的距离 */
    z-index: 1000; /* 确保按钮在所有元素之上 */
  }

/* 返回按钮样式 */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}